{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Art Store</title>

    <!--using some django notation to refernce where the homePage CSS is; will do this many times when referencing a directory-->
    <link rel="stylesheet" href="{% static 'CSS/homePageStyles.css' %}">

</head>
<body>
    <header>
        <h1>Art Store</h1>
        <p>Discover and buy all your artwork needs!</p>

        <form action="#" method="get">
            <input type="text" id="search-bar" placeholder="Search all supplies...">
            <button type="submit">Search</button>
        </form>
        
        <!-- Horizontal Navigation Menu -->
        <div class="nav-container" id="navbar">
            <a href="paints">Paints</a>
            <a href="canvasses">Canvasses</a>
            <a href="papers">Papers</a>
            <a href="brushes">Brushes</a>
            <a href="scultping">Sculpting</a>
            <a href="officeSupp">Office Supplies</a>
            <a href="drawEssentials">Drawing Essentials</a>
        </div>

        <!-- Promotional Banner -->
        <div class="promotional-banner">

            <!-- Left Button -->
            <button class="banner-button" onclick="scrollBanners('left')">&#9664;</button>

            <div class="banner-container">
                <div class="banners">
                    <div class="banner-text">
                        <img src= "{% static 'imgs/tempBanner1.png' %}" alt="Banner 1">
                    </div>
                    <div class="banner-text">
                        <img src= "{% static 'imgs/tempBanner2.png' %}" alt="Banner 2">
                    </div>
                    <div class="banner-text">
                        <img src= "{% static 'imgs/tempBanner3.png' %}" alt="Banner 3">
                    </div>
                </div>
            </div>

            <!-- Right Button -->
            <button class="banner-button" onclick="scrollBanners('right')">&#9654;</button>

        </div>
    </header>

    <!-- Featured Item Cards -->
    <h2 style="text-align: center;">Featured Items</h2>
    <section>

        <div class="card">
            <a href="toSpecifiedFeaturedPaintSet">
                <h2>Featured Paint Set</h2>
                <p>High-quality paints for vibrant artwork.</p>
                <button>View Details</button>
            </a>
        </div>

        <div class="card">
            <a href="toSpecifiedFeaturedCanvas">
                <h2>Canvas Collection</h2>
                <p>Explore our premium canvasses for your masterpieces.</p>
                <button>View Details</button>
            </a>
        </div>

        <div class="card">
            <a href="toSpecifiedFeaturedBrush">
                <h2>Artist Brushes</h2>
                <p>Find the perfect brushes for your artistic needs.</p>
                <button>View Details</button>
            </a>
        </div>

        <div class="card">
            <a href="toSpecifiedDrawingEssential">
                <h2>Drawing Essentials</h2>
                <p>Discover essential drawing supplies for your projects.</p>
                <button>View Details</button>
            </a>
        </div>

        <div class="card">
            <a href="toSpecifiedFeaturedPaintSet">
                <h2>Featured Paint Set</h2>
                <p>High-quality paints for vibrant artwork.</p>
                <button>View Details</button>
            </a>
        </div>

        <div class="card">
            <a href="toSpecifiedFeaturedCanvas">
                <h2>Canvas Collection</h2>
                <p>Explore our premium canvasses for your masterpieces.</p>
                <button>View Details</button>
            </a>
        </div>

        <div class="card">
            <a href="toSpecifiedFeaturedBrush">
                <h2>Artist Brushes</h2>
                <p>Find the perfect brushes for your artistic needs.</p>
                <button>View Details</button>
            </a>
        </div>

        <div class="card">
            <a href="toSpecifiedDrawingEssential">
                <h2>Drawing Essentials</h2>
                <p>Discover essential drawing supplies for your projects.</p>
                <button>View Details</button>
            </a>
        </div>

    </section>

    <!-- Clearnace Item Cards -->
    <h2 style="text-align: center;">Clearance Items</h2>
    <section>

        <div class="card">
            <a href="toSpecifiedFeaturedPaintSet">
                <h2>Featured Paint Set</h2>
                <p>High-quality paints for vibrant artwork.</p>
                <button>View Details</button>
            </a>
        </div>

        <div class="card">
            <a href="toSpecifiedFeaturedCanvas">
                <h2>Canvas Collection</h2>
                <p>Explore our premium canvasses for your masterpieces.</p>
                <button>View Details</button>
            </a>
        </div>

        <div class="card">
            <a href="toSpecifiedFeaturedBrush">
                <h2>Artist Brushes</h2>
                <p>Find the perfect brushes for your artistic needs.</p>
                <button>View Details</button>
            </a>
        </div>

        <div class="card">
            <a href="toSpecifiedDrawingEssential">
                <h2>Drawing Essentials</h2>
                <p>Discover essential drawing supplies for your projects.</p>
                <button>View Details</button>
            </a>
        </div>

        <div class="card">
            <a href="toSpecifiedFeaturedPaintSet">
                <h2>Featured Paint Set</h2>
                <p>High-quality paints for vibrant artwork.</p>
                <button>View Details</button>
            </a>
        </div>

        <div class="card">
            <a href="toSpecifiedFeaturedCanvas">
                <h2>Canvas Collection</h2>
                <p>Explore our premium canvasses for your masterpieces.</p>
                <button>View Details</button>
            </a>
        </div>

        <div class="card">
            <a href="toSpecifiedFeaturedBrush">
                <h2>Artist Brushes</h2>
                <p>Find the perfect brushes for your artistic needs.</p>
                <button>View Details</button>
            </a>
        </div>

        <div class="card">
            <a href="toSpecifiedDrawingEssential">
                <h2>Drawing Essentials</h2>
                <p>Discover essential drawing supplies for your projects.</p>
                <button>View Details</button>
            </a>
        </div>

    </section>

    <footer>
        <p>Thank you for choosing us. We appreciate your business and look forward to serving you.</p>

        <p>&copy; 2023 Art Store. All rights reserved.</p>
    </footer>

    <!--using some django notation to refernce where the static scripts are-->
    <script src="{% static 'JS/bannerNav.js' %}"></script>
    <script src="{% static 'JS/stickyNavBar.js' %}"></script>


</body>
</html>
