body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
    max-width: 100%;
    overflow-x: hidden;
}
header {
    background-color: #007bff;
    color: #fff;
    padding: 20px;
    text-align: center;
}
.nav-container {
    display: flex;
    justify-content: center;
    background-color: #0056b3; /* Slightly darker than header background */
    margin-bottom: 10px;
}
.nav-container a {
    padding: 10px 20px;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    margin: 0 10px;
    transition: background-color 0.3s;
}
.nav-container a:hover {
    background-color: #004080; /* Darker color on hover */
}
.sticky-nav {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
}
section {
    padding: 20px;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    border-bottom: 2px solid #ddd; /* Line separating cards */
    margin-top: -10px; /* Move cards closer to the header */
}
.card {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin: 10px;
    padding: 15px;
    text-align: center;
    width: 300px;
    min-height: 150px; /* Adjust the minimum height */
    transition: box-shadow 0.3s; /* Add transition for smooth effect */
    position: relative;
    overflow: hidden;
}
.card a {
    text-decoration: none;
    color: #333; /* Set the text color for the link within the card */
    display: block;
    height: 100%;
}
.card:hover {
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2); /* Shadow on hover */
}
footer {
    background-color: #007bff;
    color: #fff;
    padding: 10px;
    text-align: center;
    /* position: fixed; */
    bottom: 0;
    width: 100%;
    margin-top: 2px;
}
input[type="text"] {
    padding: 10px;
    width: 300px;
    border: none;
    border-radius: 5px;
    margin-bottom: 10px; /* Add margin to create space between search bar and buttons */
}
button {
    padding: 10px 20px;
    background-color: #fff;
    color: #007bff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: space-evenly;
}
li {
    margin: 0 10px;
}

.promotional-banner {
     overflow: hidden;
    white-space: nowrap;
    position: relative;
    display: flex;
    align-items: center; /* Align buttons vertically in the middle */
}       
.banner-container {
    width: 100%; /* Full width of the parent */
    overflow: hidden;
}
.banners {
    display: flex;
    width: 300%; /* Adjusted to accommodate three banners */
    transition: transform 0.5s ease;
}
.banner-text {
    flex: 0 0 33.333%; /* Each banner takes up one-third of the container */
}
.banner-button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px;
    cursor: pointer;
    margin: 0 10px; /* Add spacing between buttons and banners */
}